<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^dostfoods\.com$ [NC]
    RewriteRule ^(.*)$ https://www.dostfoods.com/$1 [L,R=301]

    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>