//$card-bg-dark: rgb(43, 52, 62);
$card-bg-dark: rgb(0, 0, 0, .2);
$card-bg-dark2: rgb(0, 0, 0, .7);
$card-bg-light: rgba(255, 255, 255, 0.4);
$beyaz: #eeeeee;
$input-bg: rgba(0, 0, 0, .3);

$errorColor: #da3544;
$successColor: #28a644;
$warningColor: #fdb80a;
$primaryColor: #3084d4;
$secondaryColor: #6d7780;
$darkColor: rgba(0, 0, 0, 0.9);
$lightColor: #eeeeee;
