@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

//font-family: "Inter", sans-serif;
//font-family: "Geist", sans-serif;

$fontInter: "Inter", sans-serif;
$fontGeist: "Geist", sans-serif;
$colorGreen: #00e107;
$colorBlack: #000000;
$colorBlack2: #202328;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.max-width {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    @media (max-width: 600px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.content-space {
    padding-top: 40px;
    padding-bottom: 50px;
}

.desktop-show {
    display: block !important;
    @media (max-width: 768px) {
        display: none !important;
    }
}

.mobile-show {
    display: none !important;
    @media (max-width: 768px) {
        display: block !important;
    }
}

header {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0 25px;
    z-index: 2;
    @media (max-width: 1280px) {
        gap: 20px;
    }

    .logo {
        min-width: 150px;
        max-width: 150px;
        width: 100%;
        height: auto;

        img {
            width: 100%;
            float: left;
        }

    }

    .main-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;

        > li {
            position: relative;
            min-height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            > a {

                font-size: 17px;
                font-weight: 500;
                line-height: 28px;
                color: #fff;
            }

            > ul {

                position: absolute;
                top: 40px;
                left: 0;
                width: 0px;
                height: 0px;

                > li {
                    padding: 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    > a {

                        font-size: 0;
                        line-height: 0;
                        font-weight: 0;
                    }
                }
            }

            &:hover {
                > a {
                    color: #ffffff;
                    //
                }

                > ul {
                    width: 200px;
                    height: auto;

                    > li {
                        height: 40px;

                        > a {
                            font-size: 15px;
                            line-height: 20px;
                            padding: 10px;
                            color: #fff;
                            width: 100%;

                        }

                        &:hover {

                        }

                        &:not(:last-child) {
                            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                        }
                    }

                }
            }

            &.current {
                > a {
                    color: #ffffff;
                    //
                    font-weight: 600;
                }
            }

            @media (max-width: 1024px) {
                display: none;
            }

        }
    }


    &.fixed-header {
        background-color: #ffffff;
        height: 80px;

        .logo {
            img {
                height: 60px;
                width: auto;
            }
        }

        .main-menu {
            > li {
                > a {
                    color: #000;
                }
            }
        }

        .mobile-menu {
            i {
                color: #000000 !important;
            }
        }
    }

    .mobile-menu {
        display: none;
        @media(max-width: 1024px) {
            display: block;
        }

        i {
            &.la-bars {
                font-size: 32px;
                line-height: 32px;
                color: #fff;
            }
        }

        .mobile-menu-list {
            position: absolute;
            top: 0;
            left: -100%;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.7);

            #mobileMenuUl {
                width: 33vh;
                height: 100vh;
                background-color: #F7F7F7;
                padding-top: 35px;
                padding-bottom: 35px;
                position: relative;

                #closeMenu {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff !important;
                    font-size: 18px;
                }

                > li {
                    width: 100%;
                    padding: 5px 10px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }

            }

            &.opened {
                left: 0;

                > ul {
                    > li {
                        display: flex;
                        justify-content: start;
                        align-items: start;
                        flex-direction: column;
                        position: relative;

                        a {
                            width: 100%;
                            border-bottom: 0px solid rgba(19, 85, 58, 0.1);
                            text-align: start;
                        }

                        &.current {
                            font-weight: 600;
                        }

                        > ul {
                            width: 100%;
                            height: 0;
                            max-height: 300px;

                            > li {
                                position: relative;
                                padding-left: 0;

                                a {
                                    font-size: 0;
                                    line-height: 0;
                                }
                            }
                        }

                        &.show {
                            > a {
                                text-align: center;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 28px;
                                border-bottom: 2px solid rgba(19, 85, 58, 0.1);

                                i {
                                    transform: rotate(90deg);
                                }
                            }

                            > ul {
                                height: max-content;

                                > li {
                                    padding-left: 20px;

                                    &:before {
                                        content: "";
                                        position: absolute;
                                        width: 10px;
                                        height: 2px;
                                        top: 50%;
                                        left: 0;
                                        transform: translateY(-50%);

                                    }

                                    a {
                                        font-size: 16px;
                                        line-height: 24px;
                                    }
                                }
                            }
                        }

                    }
                }
            }


        }

    }

}

.swiper {
    .swiper-wrapper {
        .swiper-slide {
            img {
                float: left;
            }
        }
    }
}

.accordion {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 15px;
    flex-direction: column;
    padding: 10px 10px 10px 20px;

    .question {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        flex-direction: row;
        cursor: pointer;

        i {
            width: 30px;
            height: 30px;

            color: #fff;
            font-size: 22px;
            line-height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }

        .question-text {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 0;
        }
    }

    .answer {
        max-height: 200px;
        height: 0;
        width: 100%;
        padding: 0 0 0 10px;

        p {
            font-size: 0;
            line-height: 0;
            margin-bottom: 0;
        }
    }

    &.open {
        .question {
            i {
                border-radius: 50%;
                transform: rotate(90deg);
            }
        }

        .answer {
            height: auto;

            p {
                font-size: 16px;
                line-height: 22px;

            }
        }
    }

}

.pdpa-box {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;

    input[type=checkbox] {
        max-width: 18px;
        width: 18px;
        height: 18px;
    }

    label {
        color: #000;

        a {
            font-weight: 600;
        }
    }
}

//Web Site Scss Codes
//sadece stroke değeri gradient olan
.spec-stroke {
    background: linear-gradient(90deg, $colorGreen 0%, $colorBlack2 100%);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        background: #191919;
        z-index: 0;
    }

    > * {
        position: relative;
        z-index: 2;
    }
}

//içi ve stroke degeri gradient olan
.spec-bg-stroke {
    background: linear-gradient(90deg, $colorGreen 0%, $colorBlack2 100%);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        background: linear-gradient(
                270deg,
                hsla(122, 100%, 44%, 0.8) 0%,
                hsla(120, 100%, 35%, 0.8) 13%,
                hsla(120, 100%, 27%, 0.8) 26%,
                hsl(120deg 100% 18%) 43%,
                hsl(120deg 100% 11%) 69%,
                hsl(0deg 0% 0%) 100%
        );
        z-index: 0;
    }

    > * {
        position: relative;
        z-index: 2;
    }
}

body {
    background-color: #000;
}

$header-height: 105px;
header {
    max-height: $header-height;
    height: $header-height;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    .max-width {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;


        .logo {
            width: 200px;
            height: auto;

            img {
                width: 100%;
                float: left;
            }
        }

        .menus {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            height: 60px;
            border-radius: 30px;

            a {
                font-family: $fontInter;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                padding: 6px 12px;
                color: #ffffff;

            }

            &.spec-bg-stroke {
                &:before {
                    border-radius: 28px;
                }
            }

        }

        .social-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .icon {
                height: 60px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                overflow: hidden;

                &.spec-bg-stroke {
                    &:before {
                        border-radius: 50%;
                    }
                }
            }
        }

    }
}

.home-title {
    font-family: $fontGeist;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    color: #ffffff;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

p {
    font-family: $fontInter;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
    font-weight: 300;
}

.about-us {
    height: 950px;
    background-image: url("../../public/images/inner/about-us-car-72dpi.png");
    background-repeat: no-repeat;
    background-position-x: 100px;
    background-position-y: 280px;
    background-size: calc((100% - 100px) / 2) auto;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 160px;

    .max-width {
        display: flex;
        justify-content: end;
        align-items: start;
        gap: 10px;

        .content {
            max-width: calc((100% - 100px) / 2);
        }


    }
}

.our-services {

    display: flex;
    justify-content: start;
    align-items: start;
    gap: 30px;
    flex-direction: column;

    h2 {
        margin-bottom: 0;
    }

    p {
        text-align: center;
    }

    .services {
        display: flex;
        justify-content: start;
        align-items: stretch;
        gap: 40px;
        flex-wrap: wrap;

        .service {
            max-width: calc((100% - 80px) / 3);
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
            padding: 25px;

             &:hover{
                 & > .spec-stroke {
                     transform: scale(1.02);
                 }
             }

            &.spec-stroke {
                &:before {
                    border-radius: 20px;
                    background: #191919;
                }
            }

            & > .spec-stroke {
                border-radius: 15px;
                padding: 20px;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                gap: 20px;
                height: 100%;
                transition: all .3s ease-in-out;


                &:before {
                    border-radius: 15px;
                    background: #191919;
                }
            }

            figure {
                width: 85px;
                height: 85px;
                border-radius: 50%;

                &.spec-bg-stroke {
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:before {
                        border-radius: 50%;
                        transition: transform 0.3s ease-in-out;
                    }
                }

                img {
                    width: 40px;
                    height: 40px;
                    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.75));
                }
            }

            h3 {
                font-family: $fontGeist;
                font-size: 30px;
                font-weight: 600;
                color: #fff;
                line-height: 30px;
            }

            p {
                font-size: 18px;
                color: #8c8c8c;
                text-align: left;
                min-height: 78px;
            }
        }
    }
}

#gallerySlide {
    margin-top:40px;
    padding-bottom: 100px;
    .swiper-wrapper {

        /* Bu komut, içindeki tüm slaytları (yükseklikleri
           ne olursa olsun) dikey olarak ortalar. */
        align-items: center;
    }

    .swiper-slide {
        width: 100%;
        height: fit-content;
        overflow: hidden;
        padding: 1px;

        &.spec-stroke {
            border-radius: 20px;

            &:before {
                border-radius: 20px;
            }
        }

        &.swiper-slide-prev, &.swiper-slide-next {
            max-width: calc(3 * (100% - 60px) / 10);
            width: 100% !important;
            overflow: hidden;
            transition: all 2s ease-in-out;


            img {
                width: 100%;
                height: 100%;
                float: left;
                object-position: center;
                object-fit: cover;
                border-radius: 20px;
            }

            &.spec-stroke {
                border-radius: 20px;

                &:before {
                    border-radius: 20px;
                }
            }
        }

        &.swiper-slide-active {
            max-width: calc(4 * ((100% - 60px) / 10));
            width: 100% !important;

            img {
                border-radius: 50px;
            }

            &.spec-stroke {
                border-radius: 50px;

                &:before {
                    border-radius: 50px;
                }
            }
        }
    }

    .swiper-next-button,
    .swiper-prev-button {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        cursor: pointer;

        &.spec-bg-stroke {
            &:before {
                border-radius: 50%;
            }
        }

        img {
            width: 30px;
            height: 30px;
        }
    }
    .swiper-prev-button {
        left: 50%;
        transform: translateX(calc(-100% - 5px));
    }
    .swiper-next-button {
        left: 50%;
        transform: translateX(5px);
    }
}

.our-values{

    .values{
        display: flex;
        justify-content: start;
        align-items: start;
        gap:20px;
        flex-direction: column;

        .value{
            opacity: .7;
            &.active{
                opacity: 1;
            }

            width: 100%;
            border-radius: 20px;
            &.spec-bg-stroke{
                &:before{
                    border-radius: 20px;
                }
            }
            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 2px solid #000;
                padding: 35px 45px;
                h3{
                    color:#fff;
                    font-family: $fontGeist;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 40px;
                }
                figure{
                    width: 25px;
                    height: auto;
                    img{
                        float: left;
                        width: 25px;
                        height: auto;
                    }
                }
            }
            .content{
                padding: 35px 45px;


            }

        }
    }

}







